*,
*::after,
*::before {
    box-sizing: border-box;
}

.menu-open{
    display: none;
}
.menu {
    display: flex;
    flex-direction: column;
    position: relative;
}


.menu-item i::before {
    color: inherit;
    
}

.menu-item:hover {
    color: red;
    background-color: white;
}
.menu-item {
    position: absolute;
    top: 0px;
    transition: all .18s cubic-bezier(0.645, 0.045, 0.355, 1);
    opacity: 0;
    width: 40px;
    pointer-events: none;
    height: 40px;
    border-radius: 50%;
    background-color: red;
    border: thin red solid;
    color: white;
    text-align: center;
    padding-top: 8px;
    
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.menu .menu-open:checked ~ .menu-open-button ~ .menu-item {
    pointer-events: auto;
    opacity: 1;
}
.menu .menu-open:checked ~ .menu-open-button ~ .menu-item:nth-child(3) {
    top: 50px;
}
.menu .menu-open:checked ~ .menu-open-button ~ .menu-item:nth-child(4) {
    top: 100px;
}
.menu .menu-open:checked ~ .menu-open-button ~ .menu-item:nth-child(5) {
    top: 150px;
}
.menu .menu-open:checked ~ .menu-open-button ~ .menu-item:nth-child(6) {
    top: 200px;
}
.menu .menu-open:checked ~ .menu-open-button ~ .menu-item:nth-child(7) {
    top: 250px;
}

.menu-open-button:hover {
    scale: 1.2;
}
.menu-open-button {
    width: 40px;
    height: 40px;
    background-color: red;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
    flex-direction: column;
    gap: 3px

}

.menu-line {
    display: block;
    height: 1.5px;
    width: 13px;
    background-color: white;
    top: 0;
    left: 0;
    transition: all .3s ease;
}

.menu .menu-open:checked ~ .menu-open-button .menu-line-1 {
    /* 6.5 / sqrt(2) */
    transform: translateY(4.59619407771px) rotate(45deg);  
}

.menu .menu-open:checked ~ .menu-open-button .menu-line-2 {
    opacity: 0;
}

.menu .menu-open:checked ~ .menu-open-button .menu-line-3 {
    transform:  translateY(-4.59619407771px) rotate(-45deg);
}